<%- include("./partials/header") -%>

    <h1>Home</h1>
    <p>
        <%= contentList[0] %>
    </p>
    <% newPosts.forEach(post=> { %>
        <h1>
            <%= post.title %>
        </h1>

        <% if (post.description.length>= 25) { %>
            <p>
                <%= post.description.substring(0, 20) + "..." %>
                <a href='<%= "/posts/" + post.title %>'> Read More</a>
            </p>
            
            
        <% } else{ %>
                <%= post.description%>
        <% } %>
    <% }) %>

<%- include("./partials/footer") -%>